* {
    margin: 0;
    padding: 0;
}

.scene {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(100vh);
}

.scene img {
    position: relative;
}

#scene-0 {
    background-image: url("./src/img/scene-33.png");
}

#scene-1 {
    background-image: url("./src/img/scene-34.png");
}

#scene-2 {
    background-image: url("./src/img/scene-35.png");
}

#scene-3 {
    background-image: url("./src/img/scene-36.png");
}